# Copia de seguridad de scripts en linux
*.sh~

# Repositorios con subdominio
DevWebCamp
bienesraices
appsalon
uptask


# Repositorios sin subdominio

blogdecafe
frontendstore
rock-edm-festival
tienda-muebles
tech-pro
