# Copia de seguridad de scripts en linux
*.sh~

# Genéricos
**/node_modules/
*.js.map
*.css.map
**/vendor/
**/nbproject/

# Repositorios con subdominio
DevWebCamp
bienesraices
appsalon
uptask


# Repositorios sin subdominio

blogdecafe
frontendstore
rock-edm-festival
tienda-muebles
tech-pro
arquitectura-bosque
nucleus
